[user]
	email = 11743287+dskleingeld@users.noreply.github.com
	name = dskleingeld
	signingkey = 66B4504941230382
[commit]
	gpgsign = true

[core]
	pager = delta

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended Light

[interactive]
    diffFilter = delta --color-only
